_ngo/
_xmsgs/
cpc-fdc-cpld.bld
cpc-fdc-cpld.gyd
cpc-fdc-cpld.lso
cpc-fdc-cpld.mfd
cpc-fdc-cpld.nga
cpc-fdc-cpld.ngd
cpc-fdc-cpld.nlf
cpc-fdc-cpld.pad
cpc-fdc-cpld.pnx
cpc-fdc-cpld.rpt
cpc-fdc-cpld.syr
cpc-fdc-cpld.tim
cpc-fdc-cpld.vm6
cpc-fdc-cpld.xml
cpc-fdc-cpld_build.xml
cpc-fdc-cpld_ngdbuild.xrpt
cpc-fdc-cpld_pad.csv
cpc-fdc-cpld_xc9572xl-5-VQ64.jed
cpc-fdc-cpld_xst.xrpt
