PIN "a0" LOC = P1;
PIN "a1" LOC = P2;
PIN "a2" LOC = P3;
PIN "a3" LOC = P5;
PIN "a4" LOC = P6;
PIN "a5" LOC = P7;
PIN "a6" LOC = P8;
PIN "a7" LOC = P12;
PIN "a8" LOC = P13;
PIN "a9" LOC = P14;
PIN "a10" LOC = P16;
PIN "a11" LOC = P18;
PIN "a12" LOC = P19;
PIN "a13" LOC = P20;
PIN "a14" LOC = P21;
PIN "a15" LOC = P22;
PIN "clk4" LOC = P43;
PIN "d0" LOC = P38;
PIN "reset" LOC = P32;
PIN "fdccs_n" LOC = P33;
PIN "iord_n" LOC = P30;
PIN "iorq_n" LOC = P40;
PIN "iowr_n" LOC = P31;
PIN "ldcr_n" LOC = P27;
PIN "ldor_n" LOC = P28;
PIN "mtron_n" LOC = P29;
PIN "rd_n" LOC = P42;
PIN "rset_n" LOC = P44;
PIN "wr_n" LOC = P41;

